<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>สมัครเข้าร่วมโครงการ</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <tabset>

    <!-- Tab 1 -->
    <tab heading="ข้อมูลทั่วไป" id="tab1">
      <form [formGroup]="ionicForm" novalidate>
        <ion-grid fixed>
          <ion-row>
            <!-- <ion-col>
              <input formControlName="writeat">
           <input formControlName="prefix">
            </ion-col> -->
            <ion-col>
              <ion-item>
                <ion-label class="showlabel" position="floating">เขียนที่</ion-label>
                <ion-input formControlName="writeat" type="text"  ></ion-input>
                <span class="error" *ngIf="isSubmitted && errorControl.writeat.errors?.required">
                  กรุณาระบุ เขียนที่
                </span> 
              </ion-item>
            </ion-col> 
            <ion-col>
              <ion-item>
                <ion-label class="showlabel" position="floating">คำนำหน้าชื่อ</ion-label>
                <ion-select interface="popover" formControlName="prefix_name"  >
                  <ion-select-option value="นาย">นาย</ion-select-option>
                  <ion-select-option value="นาง">นาง</ion-select-option>
                  <ion-select-option value="นางสาว">นางสาว</ion-select-option>
                </ion-select>
                <span class="error" *ngIf="isSubmitted && errorControl.prefix_name.errors?.required">
                  กรุณาระบุ คำนำหน้าชื่อ
                </span> 
              </ion-item>
            </ion-col> 
            <ion-col>
              <ion-item>
                <ion-label class="showlabel" position="floating">ชื่อ</ion-label>
                <ion-input formControlName="name" type="text"  ></ion-input>
                <span class="error" *ngIf="isSubmitted && errorControl.name.errors?.required">
                  กรุณาระบุ ชื่อ
                </span>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label class="showlabel" position="floating">นามสกุล</ion-label>
                <ion-input formControlName="surname" type="text"  ></ion-input>
                <span class="error" *ngIf="isSubmitted && errorControl.surname.errors?.required">
                  กรุณาระบุ นามสกุล
                </span>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <button type="button" (click)="addcompanyBranch()" class="btn btn-primary">เพิ่มโรงงานหรือสถานที่จัดเก็บสต๊อก</button>
          </ion-row>

          <ion-row >
            <ion-grid *ngFor="let a of companyBranchs().controls; let i=index" [formGroupName]="i">

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="showlabel" position="floating">โรงงานไม้ยาง/สถานที่จัดเก็บ ชื่อ</ion-label>
                <ion-input formControlName="a.nameBranch" type="text"  ></ion-input>
                <!-- <span class="error" *ngIf="isSubmitted && errorControl.surname.errors?.required">
                  กรุณาระบุ นามสกุล
                </span> -->
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label class="showlabel" position="floating">สาขา</ion-label>
                <ion-input formControlName="a.Branch" type="text"  ></ion-input>
                <!-- <span class="error" *ngIf="isSubmitted && errorControl.surname.errors?.required">
                  กรุณาระบุ นามสกุล
                </span> -->
              </ion-item>
            </ion-col>
          </ion-row>
          </ion-grid>
          </ion-row>
          
        </ion-grid>
      </form>

    </tab>

    <!-- Tab 2 -->
    <tab heading="เอกสารแนบ">
      <div class="container">  
    
        <h1> Dynamically Add New Input Fields in Angular </h1>  
          
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
            
          <p>  
            <label for="name">Product Name:</label>  
            <input type="text" id="name" name="name" formControlName="name" class="form-control">  
          </p>  
          
          <table class="table table-bordered" formArrayName="quantities">  
            <tr>  
              <th colspan="2">Add Multiple Quantity:</th>  
              <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">Add More</button></th>  
            </tr>  
            <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">  
              <td>  
                  Quantity :  
                  <input type="text" formControlName="qty" class="form-control">  
              </td>  
              <td>  
                  Price:  
                  <input type="text" formControlName="price" class="form-control">  
              </td>  
              <td>  
                  <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>  
              </td>  
            </tr>  
          </table>  
           
          <button type="submit" class="btn btn-success">Submit</button>  
            
        </form>  
            
        <br/>  
        {{this.productForm.value | json}}  
      </div>  
    </tab>

    

  </tabset>
</ion-content>
